### Convert PDF files into CSV file

In [1]:
import pandas as pd
import numpy as np

In [2]:
from tabula import read_pdf

### 20152016, 20172018

In [3]:
pdf_paths = ['pdfs/Per Month per Grade - 2015 16.pdf', 'pdfs/Per Month per Grade-20172018.pdf']

In [4]:
def clean_and_append(df):
    # Forward fill month data
    df['Month'] = df['Month'].ffill()

    # Select relevant rows with coffee grades AA, AB, and C
    df = df.loc[df['Grade'].isin(['AA', 'AB', 'C'])]

    try:
        # Reorder relevant columns
        df = df[['Month', 'Grade', 'Avg']]
    except:
        df = df[['Month', 'Grade', 'Price']]

    with open('monthly_coffee_prices.csv', 'a') as f:
        df.to_csv(f, header=False)

In [5]:
def clean_and_append_special_2017(df):
    df['Month'] = df.apply(add_month, axis=1) 
    df['Month'] = df['Month'].ffill()

    df['Price'] = df.apply(extract_price, axis=1)
    
    df.columns = df.columns.astype(str)
    df = df.loc[df['0'].isin(['AA', 'AB', 'C'])]
    df = df[['Month', '0', 'Price']]
    
    with open('monthly_coffee_prices.csv', 'a') as f:
        df.to_csv(f, header=False)
        
    return df

In [6]:
def clean_and_append_special_2015(df):
    df['Month'] = df.apply(add_month, axis=1) 
    df['Month'] = df['Month'].ffill()

    df['Price'] = df.apply(extract_price, axis=1)
    df['Grade'] = df.apply(extract_grade, axis=1)
    
    df.columns = df.columns.astype(str)
    df = df.loc[df['Grade'].isin(['AA', 'AB', 'C'])]
    df = df[['Month', 'Grade', 'Price']]
    
    with open('monthly_coffee_prices.csv', 'a') as f:
        df.to_csv(f, header=False)
        
    return df

In [7]:
for pdf_file in pdf_paths:
    try:
        df = read_pdf(pdf_file, pages='all')
        
        # Reset header
        df.columns = np.concatenate([df.iloc[0, :2], df.columns[2:]])
        df = df.iloc[1:].reset_index(drop=True)
        
        clean_and_append(df)
        
    except Exception as e:
        print('Error with pdf file: ', pdf_file)
        print(e)

## Special cases

In [8]:
def add_month(row):
    val = row[0]
    if len(val) > 3:
        try:
            # Check for year
            val_arr = val.split(' ')
            check_year = val_arr[1]
            if check_year.startswith('20'):
                return val
            else:
                return None
        except:
            return None
    else:
        return None

In [9]:
def extract_price(row):
    vals = str(row[5])
    vals_arr = vals.split(' ')
    
    result = None
    try:
        result = vals_arr[1]

    except:
        result = None
    
    return result

In [10]:
def extract_grade(row):
    vals = str(row[0])
    
    try:
        vals_arr = vals.split(' ')

        if len(vals_arr[0]) <= 2:
            return vals_arr[0]
        else:
            return None
    except:
        return None

### 20142015

20142015 PDF is not so straightforward, needs special handling

In [11]:
df_2015 = read_pdf('pdfs/Per Month per Grade-20142015.pdf', pages='all', multiple_tables=True)

In [12]:
df = df_2015[1]

In [13]:
df

,0,1,2,3,4,5,6,7
0,Date By,NaN,Bags,Weight,Min,Max,VALUE,Avg
1,Month,Grade,Bought,Bought,PRICE,PRICE,US Dollar,PRICE
2,NaN,UG,640,"38,340",184,185,"141,486.60",184.52
3,NaN,UG1,"1,703","104,082",102,220,"406,908.18",195.47
4,NaN,UG2,995,"61,746",77,196,"174,871.64",141.61
5,NaN,UG3,11,704,167,167,"2,351.36",167.00
6,Month Total,NaN,"38,519","2,354,086",41,418,"10,775,767.72",228.87
7,January 2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,AA,"8,164","497,711",118,486,"2,899,413.22",291.27
9,NaN,AB,"19,723","1,194,270",116,400,"5,608,204.82",234.80
10,NaN,C,"6,681","409,628",80,251,"1,688,255.60",206.07
11,NaN,E,166,"10,318",238,325,"59,847.54",290.02
12,NaN,HE,444,"27,483",81,210,"97,035.50",176.54
13,NaN,MH,"1,554","94,430",113,143,"239,968.94",127.06
14,NaN,ML,590,"36,402",79,118,"62,762.74",86.21
15,NaN,PB,"2,318","143,132",86,348,"659,943.78",230.54
16,NaN,SB,64,"3,705",75,116,"5,947.00",80.26
17,NaN,T,"2,239","137,329",77,214,"400,185.84",145.70
18,NaN,TT,"1,972","122,800",80,253,"490,096.72",199.55
19,NaN,UG1,"1,413","86,004",77,221,"307,523.70",178.78
20,NaN,UG2,506,"31,433",78,168,"74,104.24",117.88
21,NaN,UG3,6,397,80,80,635.20,80.00
22,Month Total,NaN,"45,840","2,795,042",75,486,"12,593,924.84",225.29
23,February 2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,AA,"24,104","1,465,780",150,675,"9,847,060.28",335.90
25,NaN,AB,"34,497","2,091,181",91,501,"10,957,646.34",262.00
26,NaN,C,"8,886","545,598",75,267,"2,276,361.54",208.61
27,NaN,E,109,"6,742",270,346,"41,019.92",304.21
28,NaN,HE,446,"27,456",83,188,"84,637.22",154.13
29,NaN,MH,"1,548","94,266",91,129,"225,346.60",119.53
30,NaN,ML,515,"31,584",74,122,"62,552.92",99.03
31,NaN,PB,"3,747","232,961",166,401,"1,211,088.86",259.93
32,NaN,SB,33,"1,697",73,79,"2,557.78",75.36
33,NaN,T,877,"54,410",61,199,"157,209.46",144.47
34,NaN,TT,"1,338","83,259",91,236,"339,248.34",203.73
35,NaN,UG,53,"3,290",100,178,"9,728.88",147.86
36,NaN,UG1,"2,556","156,197",95,221,"553,276.80",177.11
37,NaN,UG2,706,"43,674",79,174,"105,458.18",120.73
38,Month Total,NaN,"79,415","4,838,095",61,675,"25,873,193.12",267.39
39,March 2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,AA,"19,711","1,200,435",90,438,"6,459,484.04",269.05
41,NaN,AB,"36,122","2,187,856",91,354,"9,718,660.98",222.10
42,NaN,C,"10,806","665,481",91,236,"2,497,470.42",187.64
43,NaN,E,326,"20,195",231,283,"105,370.20",260.88
44,NaN,HE,453,"28,199",48,160,"75,764.24",134.34
45,NaN,MH,"7,516","456,031",81,143,"964,041.28",105.70
46,NaN,ML,"2,234","137,773",65,106,"234,647.88",85.16
47,NaN,PB,"3,810","241,815",126,314,"1,061,151.72",219.41
48,NaN,RH,28,"1,731",90,90,"3,115.80",90.00
49,NaN,SB,59,"3,015",62,70,"4,007.80",66.46
50,NaN,T,"1,546","95,515",68,187,"233,154.08",122.05
51,NaN,TT,"2,806","174,266",86,274,"648,520.08",186.07
52,NaN,UG,90,"5,549",154,199,"19,008.76",171.28

In [14]:
# Last 3 tables of df_2015 are well formed.
### First
df = df_2015[1]
df.columns = ['Month', 'Grade', 'Bags', 'Weight', 'Min', 'Max', 'USD', 'Price']
clean_and_append(df)

### Second
df = df_2015[2]
df.columns = ['Month', 'Grade', 'Bags', 'Weight', 'Min', 'Max', 'USD', 'Price']
clean_and_append(df)

### Third
df = df_2015[3]
df.columns = ['Month', 'Grade', 'Bags', 'Weight', 'Min', 'Max', 'USD', 'Price']
clean_and_append(df)

In [15]:
df = df_2015[0]

In [16]:
clean_and_append_special_2015(df)

            Month Grade   Price
4    October 2014    AA  310.71
5    October 2014    AB  254.42
6    October 2014     C  232.12
20  November 2014    AA  300.48
21  November 2014    AB  251.45
22  November 2014     C  230.38
37  December 2014    AA  295.75
38  December 2014    AB  242.69
39  December 2014     C  224.97

### 20162017

In [17]:
df_2017 = read_pdf('pdfs/Per Month per Grade 20162017.pdf', pages='all', multiple_tables=True)

In [18]:
df = df_2017[1]

In [19]:
df

,0,1,2,3,4,5,6,7
0,Date By,NaN,Bags,Weight,Min,Max,VALUE,Avg
1,Month,Grade,Bought,Bought,PRICE,PRICE,US Dollar,PRICE
2,NaN,TT,472,"29,636",52,265,"129,405.32",218.32
3,NaN,UG1,"1,568","95,127",33,246,"319,449.16",167.91
4,NaN,UG2,229,"14,437",23,169,"26,846.68",92.98
5,Month Total,NaN,"27,179","1,666,383",23,443,"8,388,058.98",251.68
6,January 2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,AA,"19,725","1,205,623",80,612,"8,434,398.96",349.79
8,NaN,AB,"39,640","2,405,751",64,520,"14,375,600.64",298.78
9,NaN,C,"13,001","798,625",50,335,"3,845,505.24",240.76
10,NaN,E,151,"9,512",231,302,"54,643.42",287.23
11,NaN,HE,324,"20,041",57,190,"64,492.52",160.90
12,NaN,MH,"1,509","92,104",47,122,"194,388.72",105.53
13,NaN,ML,373,"23,221",40,90,"32,952.40",70.95
14,NaN,PB,"3,754","234,781",112,376,"1,297,226.28",276.26
15,NaN,T,"2,072","127,690",40,209,"294,118.50",115.17
16,NaN,TT,"1,449","90,144",105,300,"402,434.62",223.22
17,NaN,UG,13,844,165,229,"2,993.84",177.36
18,NaN,UG1,"1,860","114,091",45,260,"408,441.08",179.00
19,NaN,UG2,"1,031","64,010",40,178,"113,587.46",88.73
20,NaN,UG3,64,"3,959",41,76,"4,742.24",59.89
21,Month Total,NaN,"84,966","5,190,396",40,612,"29,525,525.92",284.42
22,February 2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,AA,"16,525","1,012,890",107,751,"7,741,984.02",382.17
24,NaN,AB,"45,037","2,729,253",87,601,"17,243,501.88",315.90
25,NaN,C,"22,796","1,394,688",60,310,"7,109,212.06",254.87
26,NaN,E,149,"9,468",267,312,"55,827.54",294.82
27,NaN,HE,515,"31,600",68,170,"94,130.10",148.94
28,NaN,MH,"2,048","124,549",100,137,"278,262.08",111.71
29,NaN,ML,679,"42,155",38,93,"64,048.38",75.97
30,NaN,PB,"3,508","218,736",91,700,"1,263,972.14",288.93
31,NaN,SB,47,"2,493",45,45,"2,243.70",45.00
32,NaN,T,"2,663","163,432",44,200,"416,722.02",127.49
33,NaN,TT,"1,881","115,932",100,301,"534,075.62",230.34
34,NaN,UG,215,"13,037",160,191,"43,363.28",166.31
35,NaN,UG1,"2,458","150,490",85,261,"560,784.10",186.32
36,NaN,UG2,"1,169","71,908",50,165,"162,924.34",113.29
37,Month Total,NaN,"99,690","6,080,631",38,751,"35,571,051.26",292.49
38,March 2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,AA,"11,495","707,659",95,703,"4,763,185.96",336.55
40,NaN,AB,"37,128","2,251,604",80,495,"12,446,299.48",276.39
41,NaN,C,"23,546","1,438,379",50,308,"6,544,399.80",227.49
42,NaN,E,185,"11,545",229,312,"66,302.04",287.15
43,NaN,HE,746,"46,006",100,168,"143,237.80",155.67
44,NaN,MH,"3,102","189,368",83,144,"402,263.28",106.21
45,NaN,ML,"1,504","93,016",51,97,"135,922.82",73.06
46,NaN,PB,"3,102","193,337",71,351,"973,220.80",251.69
47,NaN,SB,69,"3,540",22,52,"2,997.58",42.34
48,NaN,T,"3,629","222,567",31,232,"452,507.52",101.66
49,NaN,TT,"2,289","141,047",61,283,"559,576.68",198.37
50,NaN,UG,252,"15,334",74,164,"38,951.76",127.01
51,NaN,UG1,"1,415","87,176",50,350,"268,971.60",154.27
52,NaN,UG2,914,"56,516",30,320,"108,217.96",95.74

In [20]:
# Last 3 tables of df_2017 are well formed.
### First
df = df_2017[1]
df.columns = ['Month', 'Grade', 'Bags', 'Weight', 'Min', 'Max', 'USD', 'Price']
clean_and_append(df)

### Second
df = df_2017[2]
df.columns = ['Month', 'Grade', 'Bags', 'Weight', 'Min', 'Max', 'USD', 'Price']
clean_and_append(df)

### Third
df = df_2017[3]
df.columns = ['Month', 'Grade', 'Bags', 'Weight', 'Min', 'Max', 'USD', 'Price']
clean_and_append(df)

In [21]:
df = df_2017[0]

In [22]:
clean_and_append_special_2017(df)

            Month   0   Price
4    October 2016  AA  279.11
5    October 2016  AB  251.54
6    October 2016   C  216.86
21  November 2016  AA  292.50
22  November 2016  AB  266.95
23  November 2016   C  236.97
38  December 2016  AA  289.41
39  December 2016  AB  267.78
40  December 2016   C  241.44

### Check

In [23]:
df = pd.read_csv('monthly_coffee_prices.csv', names=['Month', 'Grade', 'Price'])

In [24]:
df

              Month Grade   Price
1      October 2015    AA  236.98
2      October 2015    AB  211.06
3      October 2015     C  168.10
17    November 2015    AA  267.01
18    November 2015    AB  231.54
19    November 2015     C  163.36
34    December 2015    AA  300.68
35    December 2015    AB  258.07
36    December 2015     C  173.72
53     January 2016    AA  297.77
54     January 2016    AB  239.33
55     January 2016     C  174.23
70    February 2016    AA  297.31
71    February 2016    AB  245.34
72    February 2016     C  187.46
87       March 2016    AA  265.87
88       March 2016    AB  235.08
89       March 2016     C  188.68
106      April 2016    AA  221.91
107      April 2016    AB  207.64
108      April 2016     C  169.92
123        May 2016    AA  217.81
124        May 2016    AB  199.66
125        May 2016     C  165.07
140       June 2016    AA  222.20
141       June 2016    AB  191.35
142       June 2016     C  171.74
159       July 2016    AA  206.80
160       July 2016    AB  220.83
161       July 2016     C  178.87
..              ...   ...     ...
23    February 2017    AA  382.17
24    February 2017    AB  315.90
25    February 2017     C  254.87
39       March 2017    AA  336.55
40       March 2017    AB  276.39
41       March 2017     C  227.49
5        April 2017    AA  272.64
6        April 2017    AB  211.00
7        April 2017     C  157.29
22         May 2017    AA  286.30
23         May 2017    AB  222.74
24         May 2017     C  175.57
39        July 2017    AA  296.99
40        July 2017    AB  268.22
41        July 2017     C  223.89
5       August 2017    AA  331.75
6       August 2017    AB  263.02
7       August 2017     C  225.94
22   September 2017    AA  355.64
23   September 2017    AB  276.27
24   September 2017     C  222.70
4      October 2016    AA  279.11
5      October 2016    AB  251.54
6      October 2016     C  216.86
21    November 2016    AA  292.50
22    November 2016    AB  266.95
23    November 2016     C  236.97
38    December 2016    AA  289.41
39    December 2016    AB  267.78
40    December 2016     C  241.44

[135 rows x 3 columns]